/*FONTS*/

@font-face {
    font-family: "myfont";
    src: url("fonts/safety-webfont.woff") format('woff');
}


* {
    font-family: myfont;
}


body {
    margin: 0;
}

header {
    width: 100vw;

}

/*MENU*/

nav {
    width: 100vw;
    height: 60px;
    background-color: #28292C;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav img {
    height: 90%;
    padding-left: 20px;
}

/*BURGERMENU*/

#menu {
    position: absolute;
    flex-direction: column;
    background-color: #28292C;
    width: 100vw;
    top: 64px;
    padding: 30px;
    transition: transform .3s;
    list-style: none;

}

#menu a {
    text-decoration: none;
    color: white;

}

#menu_knap {
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    width: 50px;
    color: white;
    font-size: 20px;
    padding-top: 20px;


}

.hidden {
    display: none;
    transform: translateX(-100%);
    opacity: 0;
}

/*SPLASH*/


#splash {
    width: 100vw;
    height: 40vh;
    background-image: url(imgs/snoet-vej-en-bil_redigeret.jpg);
    background-position: center
}

#sectionwrapper {}
