/*FONTS*/

@font-face {
	font-family: "myfont";
	src: url("fonts/safety-webfont.woff") format('woff');
}

@font-face {
	font-family: "myfont_light";
	src: url("fonts/safety-light-webfont.woff") format('woff');
}


* {
	font-family: myfont_light;
}


body {
	margin: 0;
	background-color: #EAEAEA;
	;
}


header {
	width: 100vw;

}

p {
	font-family: sans-serif;
	font-size: 14px;
}

/*MENU*/

nav {
	width: 100vw;
	height: 60px;
	background-color: #28292C;
	padding-bottom: 10px;
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

nav img {
	height: 90%;
	padding-left: 20px;
}

.undermenu {
	width: 100vw;
	height: 30px;
	background-color: #373D46;
	color: white;
	padding-top: 10px;
	text-align: center;
}

.undermenu a {
	text-decoration: none;
	color: white;
}

/*BURGERMENU*/

#menu {
	position: absolute;
	flex-direction: column;
	background-color: #28292C;
	width: 100vw;
	top: 64px;
	padding: 30px;
	transition: transform .3s;
	list-style: none;

}

#menupunkter {
	display: none;
}

#menu a {
	text-decoration: none;
	color: white;

}

#menu_knap {
	display: inline-block;
	text-align: right;
	padding-right: 20px;
	width: 50px;
	color: white;
	font-size: 20px;
	padding-top: 20px;


}

.hidden {
	display: none;
	transform: translateX(-100%);
	opacity: 0;
}

/*SPLASH*/


#splash {
	display: flex;
	background-image: url(imgs/header1.jpg);
	background-color: #434B59;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

}

/*INDHOLD*/

.kampagne_video {
	display: flex;
	flex-direction: column;
	width: 100vw;
	padding-bottom: 100px;
	background-color: #434B59;
	justify-content: center;
	color: white;
	justify-content: center;


}

iframe {
	align-self: center;
}



#video {
	display: flex;
	justify-content: center;
	width: 100vw;
	align-self: center;

}

#sectionwrapper {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.container_1 {
	background-color: #28292C;
	color: white;
	font-size: 18px;
	padding: 50px;
	quotes: "„""“";


}

q {
	font-size: 28px;
	line-height: 1.5;
}

.overskrift {
	background-color: #ffffff;
	text-align: center;
}

.container_2 {


	display: flex;
	flex-direction: column-reverse;
	width: 100vw;
	text-align: center;
	justify-content: space-around;
	align-self: center;
	background-color: #434B59;

	color: white;

}

.barometer {
	width: 100%;
}

.barometer img {
	width: 400px;
}


.container_2 .txt_1 {
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;

}

.container_3 {
	background-color: #ffffff;

}

.statestik img {
	width: 400px;
	;
}

.statestik {
	padding-top: 40px;
	width: 100%;
}

.container_3 .txt_1 {
	text-align: center;
	width: 100%;
	padding-bottom: 40px;
	font-size: 20px;

}

.container_4 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	background-color: #EAEAEA;

	padding-bottom: 40px;

}

.container_4 .txt_1 {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.2;
	font-size: 20px;


}

h1 {
	text-align: center;
	padding-top: 20px;
}

.billede_4 {
	display: none;
}

.container_5 {
	display: flex;
	flex-direction: column;
	width: 100vw;
	text-align: center;
	background-color: #434B59;
	color: white;
	padding-bottom: 40px;
}

.billede_5 {
	padding-left: 10px;
	padding-right: 10px;
}

.billede_5 img {
	width: 100%;
}

.container_6 {
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: space-around;
	padding-top: 40px;
	padding-bottom: 40px;

}

.presse_img {
	align-self: center;
	width: 50%;
}

.presse_txt {
	padding: 20px;
}

.container_6 img {
	width: 100%;
}


.container_7 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	background-color: #434B59;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}

.image {
	width: 100%;
	padding: 10px;
	text-align: center;
}

.image img {
	width: 80%;
}

/*PRESSE OG NYHEDER*/

.presse_txt a {
	text-decoration: none;
	color: black;
}

/*FOOTER*/

footer {
	background-color: #28292C;
	width: 100vw;
	height: 190px;
	color: #9ea1a5;
	padding-top: 20px;

}

.social {
	padding: 10px;
}

footer img {
	width: 50px;
	padding: 10px;
	filter: saturate(1%)
}

@media only screen and (max-width: 600px) {

	#splash {
		height: 50vh;
	}

}




/*FULD SKÆRM*/

@media only screen and (min-width: 1025px) {

	nav {
		width: 100vw;
		font-size: 16px;

	}

	#splash {
		height: 770px;
		background-size: cover;

	}

	#menu_knap {
		display: none;
	}

	#menupunkter {
		width: 100%;
		justify-content: space-around;
		display: flex;
		list-style: none;
		padding-top: 10px;
	}

	#menupunkter a {
		text-decoration: none;
		color: white;
	}

	li {
		float: left;
	}

	iframe {
		width: 960px;
		height: 615px;

	}

	.container_1 {
		padding-left: 250px;
		font-size: 24px;
	}

	.container_2 {
		display: flex;
		flex-direction: row;
		width: 100vw;
		padding-bottom: 40px;
	}

	.container_2 img {
		width: 90%;
		padding-top: 40px;
	}

	.container_2 .txt_1 {
		padding-top: 90px;
	}

	.container_2 h1 {
		display: none;
	}

	/*
    .container_3 {
        display: flex;
        flex-direction: row;
        width: 100vw;

    }
*/

	.container_3 .txt_1 {
		font-size: 24px;
	}


	h1 {
		padding-top: 40px;
		padding-bottom: 20px;
	}

	.container_4 {

		align-items: center;
		padding-bottom: 40px;
	}

	.container_4 .txt_1 {
		width: 50%;
	}

	.billede_4 {
		display: block;
	}

	.billede_5 img {
		width: 40%;
	}

	.container_6 {
		display: flex;
		flex-direction: row;
		width: 80vw;
		justify-content: space-between;
		align-self: center;

	}

	.presse_txt {
		width: 100%;
	}


	.presse_img {
		width 100%;
	}

	.image img {
		width: 50%;
	}

	.container_7 {
		display: flex;
		flex-direction: row;

	}

	.materiale {
		background-color: #434B59;
		margin: 0;
		color: white;
	}



}

/*SPIL*/

.container_3 #screen {
	height: 56.25vw;
	width: 100vw;
	position: relative;
}

.container_3 #game {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
}

.container_3 #game_background {
	height: 100%;
	width: 100%;
	background-image: url(SVG/spilsk%C3%A6rm.svg);
	position: absolute;
	background-size: contain;
	top: 0;
}



.container_3 #car_sprite {
	width: 35vw;
	height: 30vw;
	background-image: url(SVG/bilrfst.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.container_3 #car_container {
	position: absolute;
	top: 20vw;
	left: 0vw;
}

.container_3 #fart_sprite {
	/*            background-color: green;*/
}

.container_3 #fart_container {
	position: absolute;
	top: 42vw;
	left: 5vw;
	display: flex;
	flex-wrap: wrap;
}

.container_3 #fart_container p {
	font-size: 1.3em;
	padding: 5px;
}

.container_3 #firs_sprite {
	width: 15vw;
	height: 16.6vw;
	background-image: url(SVG/80.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.container_3 #firs_container {
	position: absolute;
	top: 39.7vw;
	left: 27vw;

}

.container_3 #halvfems_sprite {
	width: 15vw;
	height: 16.5vw;
	background-image: url(SVG/90.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.container_3 #halvfems_container {
	position: absolute;
	top: 39.8vw;
	left: 41vw;

}

.container_3 #hundrede_sprite {
	width: 15vw;
	height: 16.4vw;
	background-image: url(SVG/100.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.container_3 #hundrede_container {
	position: absolute;
	top: 39.7vw;
	left: 55vw;

}

.container_3 #hundti_sprite {
	width: 15vw;
	height: 16.4vw;
	background-image: url(SVG/Tegnebr%C3%A6t%206.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.container_3 #hundti_container {
	position: absolute;
	top: 39.8vw;
	left: 70vw;

}

.container_3 #hastighed {
	position: absolute;
	left: 10vw;
}

.car_firs {
	animation-name: car_firs_kf;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear
}

@keyframes car_firs_kf {
	0% {
		left: 0vw;
	}

	100% {
		left: 20vw;
	}
}

.car_halvfems {
	animation-name: car_halvfems_kf;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear
}

@keyframes car_halvfems_kf {
	0% {
		left: 0vw;
	}

	100% {
		left: 30vw;
	}
}

.car_hundrede {
	animation-name: car_hundrede_kf;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear
}

@keyframes car_hundrede_kf {
	0% {
		left: 0vw;
	}

	100% {
		left: 45vw;
	}
}

.car_hundti {
	animation-name: car_hundti_kf;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear
}

@keyframes car_hundti_kf {
	0% {
		left: 0vw;
	}

	100% {
		left: 60vw;
	}
}

.firs_farve {
	background-color: gainsboro;
}

.halvfems_farve {
	background-color: gainsboro;
}

.hundrede_farve {
	background-color: gainsboro;
}

.hundti_farve {
	background-color: gainsboro;
}

#fart_container {
	width: 26vw;
	height: 16.4vw;
	background-image: url(SVG/fart.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.hide {
	visibility: hidden;
}

#popup80 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-image: url(SVG/pop80.svg);
	background-repeat: no-repeat;
}

#popup90 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-image: url(SVG/pop90.svg);
}

#popup100 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-image: url(SVG/pop100.svg);
}

#popup110 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-image: url(SVG/pop110.svg);
}
